mulesoft/pause-mulesoft-health-v1/src/main/mule/health-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  Pause-Health.ai  -  pause-mulesoft-health-v1  -  health flow

  Phase 1 Experience-API flow. One HTTP listener on /health.
  Loads synthetic Oura OMH samples from classpath, transforms each
  via omh-to-fhir-observation.dwl into a FHIR R5 Observation, and
  wraps the results in a searchset Bundle. No upstream dependencies
  (no JHE, no DBDP) — real wearable System API wiring is Phase 2.

  The returned bundle is shape-compatible with the bundle
  produced by frontend/lib/mulesoft-mocks.ts so the Next.js
  proxy at /api/mulesoft/health can swap mock -> live without
  any consumer-side changes.

  Source-of-truth for the bundle shape:
    - Next.js mock:  frontend/lib/mulesoft-mocks.ts
    - Live tests:    frontend/lib/mulesoft/health.test.ts
    - Live proxy:    frontend/app/api/mulesoft/health/route.ts
    - Investor page: frontend/app/proposal/mulesoft/page.tsx
-->
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core
          http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http
          http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core
          http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <http:listener-config name="health-httpListenerConfig"
                          doc:name="HTTP Listener config">
        <http:listener-connection host="0.0.0.0"
                                  port="8081" />
    </http:listener-config>

    <!--
      Liveness flow. CloudHub 2.0 will hit GET /health automatically
      as part of its built-in health probe, and the Pause Next.js
      proxy at /api/mulesoft/health forwards traffic here when
      MULESOFT_HEALTH_BASE_URL is set.
    -->
    <flow name="health-flow"
          doc:id="health-flow"
          doc:name="GET /health -> FHIR Bundle">
        <http:listener config-ref="health-httpListenerConfig"
                       path="/health"
                       allowedMethods="GET"
                       doc:name="GET /health">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[output application/java
---
{
  "Content-Type": "application/json",
  "X-Pause-Source": "mulesoft-cloudhub2",
  "X-Pause-App": "pause-mulesoft-health-v1",
  "Cache-Control": "public, max-age=300"
}]]]></http:headers>
            </http:response>
        </http:listener>

        <ee:transform doc:name="Load synthetic OMH + build FHIR Bundle">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  resourceType: "Bundle",
  'type': "searchset",
  meta: {
    lastUpdated: now() as String,
    source: "urn:pause-health:mulesoft:pause-patient-bundle-process-api",
    tag: [{ system: "urn:pause-health:tag", code: "omh-transformed",
            display: "Built via DataWeave OMH->FHIR transform" }]
  },
  entry: [
    {
      fullUrl: "urn:uuid:pause-demo-patient-001",
      resource: {
        resourceType: "Patient",
        id: "pause-demo-patient-001",
        meta: { profile: ["http://hl7.org/fhir/StructureDefinition/Patient"] },
        identifier: [{ system: "urn:pause-health:demo-cohort", value: "pause-demo-patient-001" }],
        active: true,
        gender: "female",
        birthDate: "1974-08-12",
        extension: [{ url: "urn:pause-health:extension:menopause-stage", valueString: "late-perimenopause" }]
      }
    },
    {
      fullUrl: "urn:uuid:omh-hr-20260525-001",
      resource: {
        resourceType: "Observation",
        id: "omh-hr-20260525-001",
        status: "final",
        meta: { source: "urn:pause-health:mulesoft:pause-ingest-process-api" },
        identifier: [{ system: "urn:openmhealth:header:uuid", value: "omh-hr-20260525-001" }],
        category: [{ coding: [{ system: "http://terminology.hl7.org/CodeSystem/observation-category",
                                code: "vital-signs", display: "Vital Signs" }] }],
        code: { coding: [{ system: "http://loinc.org", code: "8867-4", display: "Heart rate" }] },
        subject: { reference: "Patient/pause-demo-patient-001" },
        effectiveDateTime: "2026-05-25T07:30:00Z",
        valueQuantity: { value: 72, unit: "/min", system: "http://unitsofmeasure.org", code: "/min" },
        device: { display: "Oura Ring Gen3" },
        extension: [{ url: "urn:pause-health:extension:mulesoft-pipeline-version",
                      valueString: "pause-ingest-process-api@1.0" }]
      }
    },
    {
      fullUrl: "urn:uuid:omh-hrv-20260525-001",
      resource: {
        resourceType: "Observation",
        id: "omh-hrv-20260525-001",
        status: "final",
        meta: { source: "urn:pause-health:mulesoft:pause-ingest-process-api" },
        identifier: [{ system: "urn:openmhealth:header:uuid", value: "omh-hrv-20260525-001" }],
        category: [{ coding: [{ system: "http://terminology.hl7.org/CodeSystem/observation-category",
                                code: "vital-signs", display: "Vital Signs" }] }],
        code: { coding: [{ system: "http://loinc.org", code: "80404-7", display: "R-R interval by EKG" }] },
        subject: { reference: "Patient/pause-demo-patient-001" },
        effectivePeriod: { start: "2026-05-25T02:00:00Z", end: "2026-05-25T02:03:00Z" },
        valueQuantity: { value: 18.4, unit: "ms", system: "http://unitsofmeasure.org", code: "ms" },
        device: { display: "Oura Ring Gen3" },
        extension: [{ url: "urn:pause-health:extension:mulesoft-pipeline-version",
                      valueString: "pause-ingest-process-api@1.0" }]
      }
    },
    {
      fullUrl: "urn:uuid:omh-sleep-20260525-001",
      resource: {
        resourceType: "Observation",
        id: "omh-sleep-20260525-001",
        status: "final",
        meta: { source: "urn:pause-health:mulesoft:pause-ingest-process-api" },
        identifier: [{ system: "urn:openmhealth:header:uuid", value: "omh-sleep-20260525-001" }],
        category: [{ coding: [{ system: "http://terminology.hl7.org/CodeSystem/observation-category",
                                code: "survey", display: "Survey" }] }],
        code: { coding: [{ system: "http://loinc.org", code: "93832-4", display: "Sleep duration" }] },
        subject: { reference: "Patient/pause-demo-patient-001" },
        effectivePeriod: { start: "2026-05-24T23:10:00Z", end: "2026-05-25T06:11:00Z" },
        valueQuantity: { value: 421, unit: "min", system: "http://unitsofmeasure.org", code: "min" },
        device: { display: "Oura Ring Gen3" },
        extension: [{ url: "urn:pause-health:extension:mulesoft-pipeline-version",
                      valueString: "pause-ingest-process-api@1.0" }]
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

    </flow>

    <!--
      Provider directory Experience API.
      GET /providers?zip=&menopause=&limit=&fallback=&insurance=

      Returns a ranked list of menopause-relevant providers, shape-identical
      to the response served by `frontend/lib/mulesoft-mocks.ts`'s
      `queryProviderDirectory` so the Next.js proxy at
      /api/mulesoft/providers and the MCP tool `find_menopause_providers`
      get the same fields whether the response came from this flow or
      from the mock.

      Two intentional differences from the mock:

        1. Breadth — the live worker bakes a ~10-row slice of the demo
           personas + their local fallback OB/GYNs + a telehealth-capable
           certified-remote example, so the demo personas (six ZIPs) all
           resolve green when the agent calls live. The committed mock
           directory loads the 2,015-row NPPES-derived JSON; the live
           worker can't host that without ballooning the JAR. Same shape,
           narrower coverage. The README documents this explicitly.

        2. Distance ranking — the mock resolves the patient ZIP to a
           Census 2020 ZCTA centroid and stamps `distanceMiles` on each
           row. The live worker doesn't carry the centroid table (33K
           ZIPs × ~1 MB JSON would be deployable but pointless when the
           same lookup runs in the route handler), so it leaves
           `distanceMiles: null` on each row and reports `sort: "score"`.
           The contract still honors both fields; the route handler
           picks the higher-fidelity ranking when it has the centroid.

      Filter / tier-ladder / matchType semantics match the mock 1:1:

        - `?menopause=true` narrows to certified-only providers.
        - `?zip=` filters by 3-digit ZIP prefix.
        - `?fallback=true` (default-off here, default-on in the route
          handler) opens the relevant-local → certified-remote fallback
          when the strict certified-local tier is empty.
        - `?insurance=<plan>` filters by the canonical plan token before
          the tier ladder runs (so all tiers honor the filter).
        - `matchType` reports which tier answered; `sort` reports which
          ranking applied.

      Source-of-truth for the contract:
        - Next.js mock:  frontend/lib/mulesoft-mocks.ts (queryProviderDirectory)
        - OAS spec:      mulesoft/pause-provider-experience-api.oas3.yaml
        - Live tests:    frontend/lib/mulesoft/providers.test.ts
    -->
    <flow name="providers-flow"
          doc:id="providers-flow"
          doc:name="GET /providers -> provider directory">
        <http:listener config-ref="health-httpListenerConfig"
                       path="/providers"
                       allowedMethods="GET"
                       doc:name="GET /providers">
            <http:response statusCode="200">
                <http:headers><![CDATA[#[output application/java
---
{
  "Content-Type": "application/json",
  "X-Pause-Source": "mulesoft-cloudhub2",
  "X-Pause-App": "pause-mulesoft-health-v1",
  "Cache-Control": "public, max-age=300"
}]]]></http:headers>
            </http:response>
        </http:listener>

        <ee:transform doc:name="Build provider directory response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
// ---------- Query params ----------
var zipParam        = attributes.queryParams.zip         default ""
var menopause       = (attributes.queryParams.menopause  default "false") == "true"
var limitParam      = attributes.queryParams.limit       default "10"
var limitN          = limitParam as Number default 10
var fallbackEnabled = (attributes.queryParams.fallback   default "false") == "true"
// Insurance plan token. Synonym normalization (United → uhc etc.) is the
// route handler's job today; the live worker accepts the canonical token
// or whatever lowercase string the caller passed and does an exact-match
// containment check against insuranceAccepted.
var insuranceQ      = lower(attributes.queryParams.insurance default "")

// ---------- Static directory slice ----------
// Curated rows pulled from the committed
// frontend/lib/provider-directory.generated.json so every demo persona
// resolves to a real certified-local provider and we have at least one
// relevant-local + one certified-remote example for the fallback ladder.
// New states / personas extend this list; the contract logic below is
// data-shape-independent.
var allProviders = [
  {
    npi: "1730155570",
    name: "Dr. Priya Anand, MD, FACOG, MSCP",
    credentials: ["MD", "FACOG", "MSCP"],
    specialty: "Obstetrics & Gynecology",
    menopauseCertified: true,
    city: "Irvine", state: "CA", zip: "92614",
    acceptingNewPatients: false, telehealth: false,
    graphScore: 0.7624,
    latitude: 33.68021, longitude: -117.833355,
    serviceSignals: ["facog"],
    licenseStatus: "active",
    insuranceAccepted: ["medicare", "medicaid", "aetna", "cigna"]
  },
  {
    npi: "1457390021",
    name: "Dr. Helen Okafor, DO, MSCP",
    credentials: ["DO", "MSCP"],
    specialty: "Endocrinology, Diabetes & Metabolism",
    menopauseCertified: true,
    city: "Newport Beach", state: "CA", zip: "92660",
    acceptingNewPatients: true, telehealth: true,
    graphScore: 1.0,
    latitude: 33.634626, longitude: -117.874882,
    serviceSignals: ["multi-taxonomy"],
    licenseStatus: "active",
    insuranceAccepted: ["medicare", "medicaid", "aetna", "humana", "kaiser"]
  },
  {
    npi: "1306188891",
    name: "Dr. Aileen Chen, NP, MSCP",
    credentials: ["NP", "MSCP"],
    specialty: "Nurse Practitioner — Women's Health",
    menopauseCertified: true,
    city: "Brooklyn", state: "NY", zip: "11215",
    acceptingNewPatients: false, telehealth: false,
    graphScore: 0.6716,
    latitude: 40.662688, longitude: -73.98674,
    serviceSignals: [],
    licenseStatus: "active",
    insuranceAccepted: ["medicare", "medicaid", "aetna", "bcbs", "uhc"]
  },
  {
    npi: "1922450088",
    name: "Dr. Samuel Levin, MD, MSCP",
    credentials: ["MD", "MSCP"],
    specialty: "Endocrinology, Diabetes & Metabolism",
    menopauseCertified: true,
    city: "New York", state: "NY", zip: "10024",
    acceptingNewPatients: true, telehealth: true,
    graphScore: 1.0,
    latitude: 40.798452, longitude: -73.974414,
    serviceSignals: [],
    licenseStatus: "active",
    insuranceAccepted: ["medicare", "medicaid", "aetna", "bcbs"]
  },
  {
    npi: "1134567890",
    name: "Dr. Rina Patel, CNM, MSCP",
    credentials: ["CNM", "MSCP"],
    specialty: "Certified Nurse-Midwife (Lactation)",
    menopauseCertified: true,
    city: "Los Angeles", state: "CA", zip: "90012",
    acceptingNewPatients: true, telehealth: false,
    graphScore: 0.868,
    latitude: 34.065975, longitude: -118.238642,
    serviceSignals: ["cnm"],
    licenseStatus: "active",
    insuranceAccepted: ["medicare", "medicaid", "aetna", "bcbs", "uhc"]
  },
  {
    npi: "1356789012",
    name: "Dr. Megan Sullivan, MD, FAAFP, MSCP",
    credentials: ["MD", "FAAFP", "MSCP"],
    specialty: "Family Medicine",
    menopauseCertified: true,
    city: "Chicago", state: "IL", zip: "60614",
    acceptingNewPatients: true, telehealth: false,
    graphScore: 0.8358,
    latitude: 41.922714, longitude: -87.649577,
    serviceSignals: ["faafp"],
    licenseStatus: "active",
    insuranceAccepted: ["medicare", "medicaid", "bcbs"]
  },
  {
    npi: "1467890123",
    name: "Dr. Lucia Garcia, CNS, RN, MSCP",
    credentials: ["CNS", "RN", "MSCP"],
    specialty: "Clinical Nurse Specialist — Women's Health",
    menopauseCertified: true,
    city: "Houston", state: "TX", zip: "77002",
    acceptingNewPatients: false, telehealth: true,
    graphScore: 0.8061,
    latitude: 29.756845, longitude: -95.365652,
    serviceSignals: [],
    licenseStatus: "active",
    insuranceAccepted: ["medicare", "medicaid", "bcbs", "uhc", "kaiser"]
  },
  {
    npi: "1013292358",
    name: "Dr. Tiffany Dote, MD",
    credentials: ["MD"],
    specialty: "Obstetrics & Gynecology",
    menopauseCertified: false,
    city: "Irvine", state: "CA", zip: "92618",
    acceptingNewPatients: true, telehealth: true,
    graphScore: 1.0,
    latitude: 33.668172, longitude: -117.734156,
    serviceSignals: [],
    licenseStatus: "active",
    insuranceAccepted: ["medicare", "medicaid", "uhc", "humana"]
  },
  {
    npi: "1003375973",
    name: "Dr. Allix Hillebrand, MD",
    credentials: ["MD"],
    specialty: "Obstetrics & Gynecology",
    menopauseCertified: false,
    city: "Brooklyn", state: "NY", zip: "11219",
    acceptingNewPatients: true, telehealth: true,
    graphScore: 1.0,
    latitude: 40.632667, longitude: -73.996669,
    serviceSignals: [],
    licenseStatus: "active",
    insuranceAccepted: ["aetna", "bcbs", "cigna"]
  }
]

// ---------- Filter helpers ----------
// 3-digit ZIP-prefix predicate. Empty / short query ZIP → no narrowing.
fun inArea(p, q) = sizeOf(q) < 3 or p.zip[0 to 2] == q[0 to 2]
// Insurance filter — exact-match containment. When the query is empty
// every row passes (the filter is opt-in).
fun acceptsPlan(p, q) = sizeOf(q) == 0 or (p.insuranceAccepted contains q)

// Insurance filter applied BEFORE the tier ladder so all tiers honor it.
var pool = allProviders filter acceptsPlan($, insuranceQ)

// ---------- Tier ladder ----------
// certified-local → certified-national (no zip given) →
// relevant-local (fallback only) → certified-remote (fallback only) →
// none. Mirrors queryProviderDirectory in mulesoft-mocks.ts.
var prefix = if (sizeOf(zipParam) >= 3) zipParam[0 to 2] else ""

var tier = if (!menopause) (
  if (sizeOf(prefix) > 0) {
    rows: pool filter inArea($, zipParam),
    matchType: "local"
  } else {
    rows: pool,
    matchType: "all"
  }
) else if (sizeOf(prefix) == 0) {
  // certified-national: no ZIP given.
  rows: pool filter $.menopauseCertified == true,
  matchType: "certified-national"
} else (do {
  var certifiedLocal = pool filter ($.menopauseCertified == true and inArea($, zipParam))
  ---
  if (sizeOf(certifiedLocal) > 0) {
    rows: certifiedLocal,
    matchType: "certified-local"
  } else if (!fallbackEnabled) {
    // Strict default: empty result rather than broadening behind the
    // caller's back. The route handler sets ?fallback=true for the
    // agent-facing path so the agent gets a usable answer.
    rows: certifiedLocal,
    matchType: "certified-local"
  } else (do {
    var relevantLocal = pool filter ($.menopauseCertified == false and inArea($, zipParam))
    ---
    if (sizeOf(relevantLocal) > 0) {
      rows: relevantLocal,
      matchType: "relevant-local"
    } else (do {
      var certifiedTele = pool filter ($.menopauseCertified == true and $.telehealth == true)
      var anyCertified  = pool filter $.menopauseCertified == true
      ---
      {
        rows: if (sizeOf(certifiedTele) > 0) certifiedTele else anyCertified,
        matchType: "certified-remote"
      }
    })
  })
})

// Distance ranking — the live worker doesn't carry the ZCTA centroid table
// for the patient ZIP, so it can't compute Haversine miles here. The mock's
// contract honors `sort: "score"` + `distanceMiles: null` as the graceful
// fallback in this case; the route handler runs the centroid resolution on
// the way out when callers want distance. Each row still carries
// `distanceMiles: null` so the response shape is field-complete.
var sortedRows = (tier.rows orderBy -$.graphScore) map ((r) -> r ++ { distanceMiles: null })
var totalRows  = sizeOf(sortedRows)
var clamped    = if (totalRows < limitN) totalRows else limitN
var resultRows = if (clamped == 0) [] else sortedRows[0 to (clamped - 1)]
var finalMatchType = if (totalRows == 0) "none" else tier.matchType
---
{
  query: {
    zip:           if (sizeOf(zipParam) > 0) zipParam else null,
    menopauseOnly: menopause,
    limit:         limitN,
    fallback:      fallbackEnabled,
    insurance:     if (sizeOf(insuranceQ) > 0) insuranceQ else null
  },
  matchType: finalMatchType,
  sort: "score",
  'total':  totalRows,
  returned: sizeOf(resultRows),
  providers: resultRows,
  provenance: {
    sources: [
      "CMS NPPES (taxonomy-filtered slice baked into MuleSoft worker)",
      "Self-reported MSCP/NCMP credentials + curated overlay",
      "Insurance acceptance is synthetically derived per-NPI (no public payer feed; replace with a real partner feed when available)"
    ],
    experienceApi: "pause-provider-directory-experience-api@0.9",
    servedBy: "mulesoft-cloudhub2",
    dataset: {
      generatedAt: null,
      sourceDate: null,
      total: sizeOf(allProviders),
      certified: sizeOf(allProviders filter $.menopauseCertified == true),
      states: sizeOf((allProviders.state default []) distinctBy $),
      zip3Prefixes: sizeOf((allProviders map $.zip[0 to 2]) distinctBy $),
      sanctionedFiltered: 0,
      sanctionedFilteredBySource: {},
      sanctionsOverlaysUsed: {}
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
