salesforce/force-app/main/default/flows/Pause_Intake_Prechat_Router.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Hand off the Messaging session to the Pause Health Intake Agentforce Service Agent after the prechat dossier has been written to MessagingSession.</description>
        <name>Route_to_Pause_Agent</name>
        <label>Route to Pause Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9Hp000001YlIbKAK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Copilot</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GHp000005QSjzMAG</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
            <value>
                <stringValue>0XxHp0000014tiuKAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
            <value>
                <stringValue>Pause Health Intake Agent</stringValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <description>Phase 18a: reads the 21 hidden-prechat dossier fields sent by the Pause web app, writes them onto the MessagingSession custom fields, then routes the conversation to the Pause Health Intake Agentforce Service Agent.</description>
    <environments>Default</environments>
    <interviewLabel>Pause Intake Prechat Router {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pause Intake Prechat Router</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordUpdates>
        <description>Persist the Pause-Health prechat dossier onto the MessagingSession so the Agentforce agent can read it as Context variables.</description>
        <name>Write_Dossier_To_Session</name>
        <label>Write Dossier To Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Route_to_Pause_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pause_Age_Band__c</field>
            <value>
                <elementReference>Age_Band</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Care_Plan_Status__c</field>
            <value>
                <elementReference>Care_Plan_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Care_Program_Status__c</field>
            <value>
                <elementReference>Care_Program_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Cohort_Name__c</field>
            <value>
                <elementReference>Cohort_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Cohort_Size__c</field>
            <value>
                <elementReference>Cohort_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Cycle_Status__c</field>
            <value>
                <elementReference>Cycle_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Days_Since_Last_Contact__c</field>
            <value>
                <elementReference>Days_Since_Last_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Demo_Note__c</field>
            <value>
                <elementReference>Demo_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Grounding_Insights_Count__c</field>
            <value>
                <elementReference>Grounding_Insights_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Grounding_Source__c</field>
            <value>
                <elementReference>Grounding_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Identity_Confidence__c</field>
            <value>
                <elementReference>Identity_Confidence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Identity_Ruleset__c</field>
            <value>
                <elementReference>Identity_Ruleset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Identity_Sources__c</field>
            <value>
                <elementReference>Identity_Sources</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Mood_Score__c</field>
            <value>
                <elementReference>Mood_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Patient_Context_JSON__c</field>
            <value>
                <elementReference>Patient_Context_JSON</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Patient_Id__c</field>
            <value>
                <elementReference>Patient_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Patient_Insurance__c</field>
            <value>
                <elementReference>Patient_Insurance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Patient_Percentile__c</field>
            <value>
                <elementReference>Patient_Percentile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Patient_Zip__c</field>
            <value>
                <elementReference>Patient_Zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Primary_Symptom__c</field>
            <value>
                <elementReference>Primary_Symptom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Sleep_Score__c</field>
            <value>
                <elementReference>Sleep_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Vasomotor_Score__c</field>
            <value>
                <elementReference>Vasomotor_Score</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Write_Dossier_To_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Age_Band</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Care_Plan_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Care_Program_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cohort_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cohort_Size</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cycle_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Days_Since_Last_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Demo_Note</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Grounding_Insights_Count</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Grounding_Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Identity_Confidence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Identity_Ruleset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Identity_Sources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
    <variables>
        <name>Mood_Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Patient_Context_JSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Patient_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Patient_Insurance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Patient_Percentile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Patient_Zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primary_Symptom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sleep_Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vasomotor_Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
